.App {
    width: 100vw;
    height: 100%;
    background: #f1f3ff
}
/* body {
    background-image: linear-gradient(to left, #f4dcdc, pink);
} */

h1,
h2,
h3,
h4,
p {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}

button:focus {
    outline: none;
    border: none;
}

ul,
li,
a {
    list-style: none;
}

ul {
    padding: 0px;
}
