.home-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.home-main-div {
  width: 1024px;
  height: 100%;
}

.home-title {
  font-weight: 700;
  font-size: 24px;
}

.home-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.button-light {
  letter-spacing: 0.72px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  border: 1px solid rgba(45,49,56,0.15);
  color: black;
  background-color: transparent;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  cursor: pointer;
  white-space: nowrap;
}

.button-light:hover {
  background-color: rgba(45,49,56,0.03);
}

.button-dark {
  letter-spacing: 0.72px;
  color: #F4DCDC;
  background-color: #2D3138;
  margin-right: 0;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 600;
}

.button-group {
  min-width: 165px;
  display: flex;
  justify-content: space-between;
}

.home-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 500px;
  text-align: center;
  padding: 20px 130px;
}

.home-h1 {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 20px;
}

.home-p {
  font-size: 17px;
  margin-bottom: 20px;
}

.search-bar {
  align-items: center;
    background-color: #fff;
    width: 396px;
    -webkit-box-pack: start;
    text-overflow: ellipsis;
    color: rgb(45, 49, 56);
    font-family: PostmatesStd, "Helvetica Neue", Helvetica;
    font-size: 16px;
    letter-spacing: 0.14px;
    font-weight: 400;
    line-height: normal;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
    padding-bottom: 19px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.search-bar {
  outline: 0;
  border: none;
}

.home-form {
  margin-top: 10px;
}

.home-submit-button {
  background-color: #2DECE5;
  cursor: pointer;
  color: white;
  width: 58px;
  height: 56px;
}

.browse-all-button {
  letter-spacing: 0.72px;
  color: #F4DCDC;
  background-color: #2D3138;
  margin-right: 0;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
  width: 162px;
  height: 36px;
}

.button-flex-container {
  display: flex;
  align-self: flex-end;
  width: 310px;
}
